.post-type-wp_dynamic_tables #edit-slug-box,
.post-type-wp_dynamic_tables #preview-action #post-preview {
    display: none;
}

.wp_dtables_metabox_wrapper {
    position: relative;
    width: 100%;
    margin: 0;
}

.wp_dtables_setting {
    margin: 0 1em;
    padding: .6em 0;
    border-bottom: 1px solid #e5e5e5;
}

.wp_dtables_setting.no-bottom-border {
    border-bottom: 0;
}

.wp_dtables_setting label {
    cursor: default;
}

.wp_dtables_setting label.checkbox-lbl {
    display: inline-block;
}

.wp_dtables_setting label.checkbox-lbl span {
    cursor: pointer;
}

.wp_dtables_setting label.select-lbl {
    display: inline-block;
    min-width: 155px;
}

.wp_dtables_setting select {
    display: inline-block;
    min-width: 150px;
}

.wp_dtables_setting label.checkbox-lbl,
.wp_dtables_setting label.select-lbl,
.wp_dtables_setting select {
    margin: 0.5em 0;
}

.display_on_enabled_chart.hide,
.display_on_front_edit.hide,
.wpdt-mysql-query-live-update-area.hide,
.wp_dtables_edit_rows_settings.hide {
    display: none;
}

.display_on_front_edit{
    padding-top:0;
    padding-left:1.7em;
}

.display_on_front_edit label{
    display: block;
    margin: 1em 0 .5em 1em;
    cursor: pointer;
}

.wpdt-insert-mysql-table-wrapper,
.wpdt-insert-ext-mysql-table-wrapper,
.wpdt-insert-file-table-wrapper {
    position: relative;
    display: block;
    margin-top: 10px;
    padding: 9px 10px;
    background-color: #f8f8f8;
    background-color: #f5f5f5;
    border: 1px solid #eee;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.wpdt-insert-mysql-table-wrapper.hide,
.wpdt-insert-ext-mysql-table-wrapper.hide,
.wpdt-insert-file-table-wrapper.hide {
    display: none;
}

.wpdt-insert-mysql-table-wrapper label,
.wpdt-insert-ext-mysql-table-wrapper label,
.wpdt-insert-file-table-wrapper label {
    min-width: 140px;
    display: inline-block;
    line-height: 28px;
    vertical-align: top;
}

.wpdt-insert-mysql-table-wrapper textarea,
.wpdt-insert-ext-mysql-table-wrapper textarea {
    min-height: 130px;
    width: 33%;
    min-width: 190px;
    max-width: 100%;
    margin-bottom: 0 !important;
}

.wpdt-insert-mysql-table-wrapper textarea.empty-val,
.wpdt-insert-ext-mysql-table-wrapper textarea.empty-val {
    border-color: #c62828;
}

.wpdt-mysql-tarea {
    position: relative;
    max-width: 80%;
    display: inline-block;
}

.wpdt-test-mysql-query {
    display: block !important;
    margin: 0 0 .5em !important;
    width: 120px !important;
    max-width: 120px !important;
}

.wpdt-test-query-wrap {
    position: relative;
    min-height: 1px;
    display: block;
    font-weight: bold;
    font-size: 12px;
    margin: 7px 0 8px;
    line-height: 1.4em;
}

.wpdt-test-query-wrap.error-q {
    color: #c62828;
}

.wpdt-test-query-wrap.success-q {
    color: #558b2f;
}

.wpdt-query-test-spinner {
    position: absolute;
    bottom: 11px;
    left: 130px;
    display: none;
}

.wpdt-file-upload-tarea {
    position: relative;
    max-width: 80%;
    display: inline-block;
}

.wpdt-file-upload-wrap {
    color: #c62828;
    font-size: 12px;
    font-weight: bold;
    margin-top: 3px;
}

.wpdt-insert-mysql-table-wrapper textarea,
.wpdt-insert-ext-mysql-table-wrapper textarea,
.wpdt-insert-ext-mysql-table-wrapper input[type="text"],
.wpdt-insert-file-table-wrapper input[type="text"] {
    display: inline-block;
}

.wpdt-insert-mysql-table-wrapper label,
.wpdt-insert-ext-mysql-table-wrapper label,
.wpdt-insert-file-table-wrapper label,
.wpdt-insert-mysql-table-wrapper textarea,
.wpdt-insert-ext-mysql-table-wrapper textarea,
.wpdt-insert-ext-mysql-table-wrapper input[type="text"],
.wpdt-insert-file-table-wrapper input[type="text"] {
    margin: 0.5em 0;
}

.wpdt-insert-mysql-table-wrapper label,
.wpdt-insert-ext-mysql-table-wrapper label,
.wpdt-insert-file-table-wrapper label {
    margin-right: 5px;
}

.wpdt-insert-file-table-wrapper button {
    display: inline-block;
    height: 28px !important;
    line-height: 26px !important;
    margin: .5em 0 .5em 3px !important;
}

#wp_dynamic_tables_table_data .inside {
    margin: 0;
    padding: 0;
}

.tables-data-columns-outer {
    position: relative;
    max-width: 100%;
    /* height: 394px; */
    height: 480px; 
    display: inline-block;
    margin: 0 0 -4px;
    padding: 20px 0;
    overflow-x: auto;
    overflow-y: hidden;
}

.tables-data-columns-outer.empty {
    height: auto;
}

.tables-data-columns-outer .empty-msg {
    padding: 0 15px;
    font-weight: bold;
    display: none;
}

.tables-data-columns-outer.empty .empty-msg {
    display: inline-block;
}

.tables-data-columns {
    position: relative;
    height: 100%;
    display: inline-block;
    margin: 0;
    padding: 0 10px;
}

.tables-data-columns li {
    position: relative;
    width: 253px;
    float: left;
    height: 100%;
    margin: 0 10px;
    padding: 0;
    background-color: #f5f5f5;
    border: 1px solid #eee;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}

.tables-data-column-header {
    font-size: 13px;
    line-height: 1.4em;
    font-weight: 600;
    text-align: center;
    padding: 10px 12px;
    display: block;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    cursor: ew-resize;
}

.tables-data-column-header span {
    font-size: 12px;
    font-style: italic;
}

.tables-data-column-settings {
    display: block;
    margin: 2px 0 0;
}

.wp_dtables_columns_setting {
    position: relative;
    display: block;
    margin: 0 15px;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.wp_dtables_columns_setting select {
    display: inline-block;
    font-size: 13px;
}

.wp_dtables_columns_setting label.select-lbl {
    min-width: 90px;
    display: inline-block;
}

.wp_dtables_columns_setting label.checkbox-lbl,
.wp_dtables_columns_setting label.select-lbl,
.wp_dtables_columns_setting select {
    margin: 0.5em 0;
}

.on-custom-col-width {
    display: block;
    padding-left: 90px;
    padding-top: 2px;
}

.on-custom-col-width.hide,
.col-num-format-class.hide,
.col-currency-pos-class.hide {
    display: none;
}

.on-chart-enabled {
    display: block;
    padding-left: 1.5em;
    padding-top: 1em;
}

.on-chart-enabled.hide {
    display: none;
}

.wpdt_col_width_val_class {
    width: 80px;
    font-size: 13px;
    margin-top: 0 !important;
    margin-bottom: 0;
}

.wpdt_col_width_type_class {
    height: 26px !important;
    line-height: 26px !important;
    margin-bottom: 0 !important;
    margin-top: -2px !important;
}

.tables-data-columns li.wpdt_sortable_placeholder {
    border: 1px dashed #ddd;
    background-color: #f8f8f8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

#wpdt_settings {
    display: block;
    padding-top: 1em;
    padding-right: 1em;
}

#wpdt_settings h1 {
    display: inline-block;
    font-weight: 500;
    line-height: 1.4em;
    font-size: 1.9em;
}

#wpdt_settings .nav-tab-wrapper {
    display: block;
    margin-top: .8em;
}

#wpdt_settings .nav-tab-wrapper a {
    font-size: 14px;
}

#wpdt_settings a {
    outline: 0 none;
    -webkit-box-shadow: 0 0 0 0;
    -moz-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
}

.wpdt-form-group {
    position: relative;
    display: block;
    padding: .5em 1em 1.5em;
    margin-bottom: 1em;
    border-bottom: 1px solid #ddd;
}

.wpdt-form-group label {
    display: inline;
    margin-bottom: 0.5em;
    line-height: 1.4em;
    font-weight: 500;
}

.wpdt-form-group input[type="checkbox"] {
    display: inline-block;
    margin-top: 2px;
}

.wpdt-form-group textarea {
    display: block;
    width: 40%;
    min-width: 150px;
    max-width: 100%;
    min-height: 100px;
    height: 120px;
    margin-top: .5em;
}

.wpdt-settings-form p.submit {
    margin-top: 0;
    padding-top: 0;
    margin-left: 1em;
    margin-bottom: 0;
}

#wpdt_settings div.updated {
    padding: 10px;
}

#wpdt_settings div.updated.top-msg {
    margin-bottom: 1em;
}

#wpdt_settings div.updated.license_key_info {
    position: relative;
    border: 0;
    margin-bottom: 1.5em;
}

#wpdt_settings div.updated.license_key_info p {
    padding-left: 30px;
    font-size: 13px;
}

#wpdt_settings div.updated.license_key_info a {
    text-decoration: underline;
    cursor: pointer;
}

#wpdt_settings div.updated.license_key_info .dashicons {
    position: absolute;
    top: 16px;
    left: 11px;
    font-size: 23px;
    opacity: .5;
}

.wpdt-settings-form.form-product-license label.product-license-label {
    display: inline-block;
    min-width: 120px;
}

.wpdt-settings-form.form-product-license input[type="text"].product-license-txt-input {
    max-width: 250px;
    margin-right: 10px;
}

#wpdt_settings .where-find-license {
    display: inline-block;
    font-size: 12px;
}

.wp_dynamic_tables_page_wp-dynamic-table-settings #TB_window {
    height: auto !important;
}

.wp_dynamic_tables_page_wp-dynamic-table-settings #TB_ImageOff {
    position: relative;
    display: inline-block;
    width: 96%;
    text-align: center;
    outline: 0 none;
    -webkit-box-shadow: 0 0 0 0;
    -moz-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
}

.wp_dynamic_tables_page_wp-dynamic-table-settings #TB_window img#TB_Image {
    margin-top: 30px;
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.wp_dynamic_tables_page_wp-dynamic-table-settings #TB_caption,
.wp_dynamic_tables_page_wp-dynamic-table-settings #TB_closeWindow {
    height: auto;
    overflow: visible;
}

.wpdt-settings-form p.submit.wpdt-license-buttons {
    position: relative;
    display: inline-block;
    padding-top: 0;
    padding-right: 26px;
}

.wpdt-settings-form p.submit.wpdt-license-buttons .button {
    margin-right: 7px;
    margin-bottom: 1em;
}

.wpdt-loading-license-activation {
    position: absolute;
    right: 0;
    top: 4px;
    width: auto;
    display: none;
}

.wpdt-deactivate-license {
    display: inline-block;
}

.wpdt-activate-license {
    display: none !important;
}

.to-activate .wpdt-activate-license {
    display: inline-block !important;
}

.to-activate .wpdt-deactivate-license {
    display: none !important;
}

.activating .wpdt-loading-license-activation {
    display: inline-block;
}

.updated.wpdt-license-messages {
    display: none;
    margin-bottom: 1.2em;
}