.DTTT_print_info {
    z-index: +999;
}

.dataTables_length label {
    font-weight: normal;
}

.dataTables_length label select {
    display: inline-block;
    width: auto;
    max-width: 100%;
}

.wpdt-outs,
.wpdt-outs:after,
.wpdt-outs:before,
.wpdt-outs *,
.wpdt-outs *:after,
.wpdt-outs *:before {
    -moz-box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
    -ms-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

.wpdt-outs {
    position: relative;
    width: 100%;
    margin-bottom: 1em;
}

.dataTables_scrollHeadInner,
table.wpdt-ins {
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
}

.dataTables_scrollHeadInner.wpdt-word-wrap td,
.dataTables_scrollHeadInner.wpdt-word-wrap th,
table.wpdt-ins.wpdt-word-wrap td,
table.wpdt-ins.wpdt-word-wrap th {
    word-wrap: break-word;
}

table.wpdt-ins {
    overflow-x: auto;
    border-collapse: collapse;
}

table.wpdt-ins.wpdt-non-responsive {
}

table.wpdt-ins th,
table.wpdt-ins td {
    overflow: hidden;
    vertical-align: middle;
}

.wpdt_chart_wrapper {
    margin-bottom: 1em;
}

.wpdt-editable tr td:nth-child(2),
.wpdt-editable tr th:nth-child(2),
.wpdt-editable tr td.child ul li:first-child{
    display: none;
}

.wpdt-editable tr td:nth-child(1),
.wpdt-editable tr td:nth-child(2),
.wpdt-editable tr th:nth-child(1),
.wpdt-editable tr th:nth-child(2) {
    text-align: center;
}

.wpdt-editable tr td.child:nth-child(1),
.wpdt-editable tr td.child:nth-child(2),
.wpdt-editable tr th.child:nth-child(1),
.wpdt-editable tr th.child:nth-child(2) {
    text-align: inherit;
}

.wpdt-editable td:nth-child(1) button {
    font-weight: normal;
}

.DTTT_Print .wpdt-not-print,
.DTTT_Print .wpdt-editable tr td:nth-child(1),
.DTTT_Print .wpdt-editable tr td:nth-child(2),
.DTTT_Print .wpdt-editable tr th:nth-child(1),
.DTTT_Print .wpdt-editable tr th:nth-child(2) {
    display: none;
}

.wpdt-modal-out {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: url(../images/modal-bg-black70pc.png) repeat;
    background: rgba(0, 0, 0, .7);
    z-index: 999999999;
    display: none;
    overflow-y: auto;
}

.wpdt-modal-middle {
    display: table;
    width: 96%;
    height: 96%;
    padding:2%;
}

.wpdt-modal-in {
    display: table-cell;
    vertical-align: middle;
}

.wpdt-modal-content {
    position: relative;
    width: 450px;
    max-width: 100%;
    max-height: 100%;
    display: block;
    background: #fff;
    margin: 0 auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

.wpdt-modal-content-inner {
    display: block;
    padding: 1.5em 1.5em .5em;
}

.wpdt-modal-p{
    display:block;
    font-size: 17px;
    text-align: center;
    font-weight: bold;
}

.wpdt-modal-p.sec{
    margin-bottom: 1em;
}

.wpdt-arrow-setting {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 1em;
}

.wpdt-arrow-setting label,
.wpdt-new-row-pos-area label {
    position: relative;
    float: left;
    width: 40%;
    padding-right: 1em;
    padding-top: .6em;
    line-height: 1.2em;
    text-align: right;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.wpdt-arrow-setting input,
.wpdt-new-row-pos-area select {
    position: relative;
    float: left;
    width: 60%;
    margin: 0;
    line-height: 1em;
}

.wpdt-modal-buttons-wrapper {
    position: relative;
    display: block;
    padding: 0 1.5em 1.2em;
    border-top: 1px solid #eee;
}

.wpdt-new-row-pos-area{
    display: inline-block;
    position: relative;
    width: 100%;
    padding: 1.5em;
    border-bottom: 2px solid #eee;
}

.wpdt-cancel-modal,
.wpdt-save-modal,
.wpdt-save-modal-headers,
.wpdt-add-modal,
.wpdt-remove-modal {
    position: relative;
    width: auto;
    min-width: 120px;
    display: inline-block;
    margin-top: 1.2em;
}

.wpdt-cancel-modal {
}

.wpdt-save-modal,
.wpdt-save-modal-headers,
.wpdt-add-modal,
.wpdt-remove-modal {
    float: right;
}

.wpdt-edit-row,
.wpdt-add-row,
.wpdt-remove-row{
    width: 60px;
    margin-bottom: 5px;
}

.wpdt-add-row,
.wpdt-remove-row{
    display: inline-block !important;
    width: 28px;
    margin-top: 3px;
    margin-bottom: 0;
    font-size: 14px !important;
}

.wpdt-add-row{

}

.wpdt-remove-row{
    /* margin-bottom: 0; */
}

@media only screen and (max-width: 450px) {
    .wpdt-modal-content {
        width: 100%;
    }

    .wpdt-arrow-setting{
        margin-bottom: 0;
    }

    .wpdt-arrow-setting label,
    .wpdt-new-row-pos-area label {
        width: 100%;
        text-align: left;
    }

    .wpdt-arrow-setting input,
    .wpdt-new-row-pos-area select {
        width: 100%
    }
    
    .wpdt-modal-buttons-wrapper{
        text-align: center;
    }

    .wpdt-cancel-modal,
    .wpdt-save-modal,
    .wpdt-save-modal-headers {
        float:none;
        margin-left: auto;
        margin-right: auto;
        width:50%;
        min-width: 150px;
    }
}

@media print {
    .wpdt-not-print {
        display: none;
    }
}